.navmenu {
  background-color: #99E9F2;
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px rgb(150, 150, 150);

  a {
    text-decoration: none;
    margin: 2rem auto;
    font-size: 1.3rem;
    color: #0583F2;
    text-align: center;

    &::after {
      content: "";
      display: inline-block;
      margin: 0px;
      padding: 0px;
      height: 2px;
      width: 10%;
      background-color: #0583F2;
      opacity: 0;
      transition-property: width, opacity;
      transition-duration: 0.3s;
      position: relative;
      top: -0.8rem;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
