@import '../../styles/_utilities.scss';

.navmenu {
  background-color: var(--main);
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px rgb(150, 150, 150);
  padding-top: 0.5rem;

  a {
    text-decoration: none;
    margin: 1rem auto 0.5rem auto;
    font-size: 1.3rem;
    line-height: 1rem;
    color: var(--bg);
    text-align: center;

    &::after {
      content: "";
      display: inline-block;  
      padding: 0px;
      height: 2px;
      width: 10%;
      background-color: var(--bg);
      opacity: 0;
      transition-property: width, opacity;
      transition-duration: 0.3s;
      position: relative;
      top: -7px;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
