.navbar {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .navbar__icon {
        color: white;
        font-size: 1.7rem;
        line-height: 1rem;
    }

    .menubutton {
        color: white;
        font-weight: bold;
        cursor: pointer;
        z-index: 10;
    }
}