.firstTime {
    position: relative;
    background-color: #b0d5eb8c;
    border-radius: 5px;
    margin: 10px;
    padding: 2rem; 

    .icon {
      font-size: 2rem;
    }

    h2 {
      color: #0583F2;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .text {
      margin-bottom: 1rem;
      max-width: 500px;
    }

    .tutorial {
      margin: 1rem 2rem 1rem auto;
    }
    .close {
      color: var(--accent);
      cursor: pointer;     
    }
  }